@use './config' as c;
/*===============================================
contact
===============================================*/
.contact {
  background: url(../img/bckground-image-contact@2x.jpg) no-repeat center center / cover;
  color: c.$color-base;
  padding: 92px 0 97px;

  .section-heading__sub {
    color: c.$color-base;

    &::before {
      background: c.$color-base;
    }
  }

  &__text {
    @include c.fz(16);
    line-height: 2;
  }

  &__button {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 26px;
    
    @include c.mq('tab-down') {
      position: relative;
      img {
        width: 16px;
        height: 12px;
        position: absolute;
        left: 24px;
      }
      
      & .btn--arrow::after {
        right: 24px;
      }
    }
  }

  @include c.mq('tab') {
    padding: 75px 73px;
    text-align: center;
  
    &__text {
      letter-spacing: 0.02em;
    }

    &__button {
      margin-top: 49px;
      flex-direction: row;
      justify-content: center;
      column-gap: 80px;

      span {
        position: relative;
      }

      img {
        width: 24px;
        height: 18px;
        position: absolute;
        left: -38px;
      }
    }
  }
}