@use './config' as c;

/*===============================================
footer
===============================================*/
.footer {
  color: c.$color-base;

  &__top {
    background: c.$color-accent-blue;
    padding: 38px 0 35px;
    @include c.fz(14);
  }

  &-inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &__info {
    margin-top: 82px;
  }

  &__logo {
    width: 160px;
    img {
      width: 100%;
    }
  }

  &__address {
    line-height: 2.1;
    margin-top: 17px;
    font-family: 'Noto Sans JP';

    span {
      margin-left: 4px;
      display: inline-block;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__item {
    &:nth-child(5) {
      margin-top: 38px;
    }
  }

  &__end {
    background: c.$color-accent-black;
    font-family: 'Noto Sans JP';
    @include c.fz(10);
    letter-spacing: 0.01em;
    padding: 1.2em 0 2em;
  }

  @include c.mq('tab') {
    
    &__top {
      padding: 80px 0 110px;
      @include c.fz(16);
      letter-spacing: .02em
    }

    &-inner {
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      margin-top: 7px;
    }

    &__logo {
      width: 272px;
    }

    &__address {
      line-height: 2.3;
      margin-top: 30px;
      
    }

    &__nav {
      margin-top: 106px;
      writing-mode: vertical-lr;
    }

    &__list {
      row-gap: 23px;
    }

    &__item {
      letter-spacing: 0.2em;

      &:nth-child(5) {
        margin-top: 0px;//sp打ち消し要素
        margin-left: 53px;
      }
    }

    &__end {
      @include c.fz(12);
      padding: 2em 0;
      letter-spacing: 0.1em;

    }
  }
}