@use './config' as c;
/*===============================================
recruit
===============================================*/
.recruit {
  background: linear-gradient(180deg, c.$color-base 0%, c.$color-base 50%, c.$color-sub 50%, c.$color-sub 100%);
  padding-bottom: 120px;

  &__content {
    margin-top: 27px;
  }

  &-card {
    position: relative;

    &__img {
      img {
        aspect-ratio: 375 / 200;
        width: 100%;
        object-fit: cover;
      }
    }

    &__link {
      @include c.fz(16);
      text-align: left;
      width: 160px;
      padding: 16px 20px;
      position: absolute;
      bottom: 0px;
      left: -20px;

      &.btn--arrow {
        &::after {
          right: 16px;
        }
      }
    }
  }

  &__button {
    margin-top: 40px;
    text-align: center;
  }

  @include c.mq('tab-down') {
    &-card__img {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }

  @include c.mq('tab') {
    background: c.$color-sub;
    padding: 74px 0 80px;
    text-align: center;

    &__content {
      display: flex;
      column-gap: 36px;
      margin-top: 52px;
    }

    &-card {
      width: 30.71%;

      &:nth-child(1) {
        margin-top: 80px;
      }
      &:nth-child(2) {
        margin-top: 40px;
      }

      &__img {
        img {
          aspect-ratio: 312 / 240;
        }
      }
  
      &__link {
        text-align: left;
        width: 84.615%;
        padding: 20px 16px;
        background: rgba(c.$color-accent-blue, .64);
        position: relative;
        bottom: 31px;
        left: 56px;
      }
    }
  
    &__button {
      margin-top: 8px;
    }
  }
}